apiVersion: v2
name: agent
description: A Helm chart for KubeSphere-Extension DevOps agent(backend)
type: application
version: 1.1.2
appVersion: v4.1.3
home: https://www.kubesphere.io/devops/
sources:
  - https://github.com/kubesphere/ks-devops
  - https://github.com/kubesphere-sigs/ks-devops-helm-chart
annotations:
  extensions.kubesphere.io/devops: agent
dependencies:
  - name: jenkins
    version: 0.19.6
    condition: jenkins.enabled
  - name: argo-cd
    version: 4.4.0
    alias: argocd
    condition: argocd.enabled
